* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
	display: flex; /* flexbox */
	gap: 0px 30px; /* 余白 */
	justify-content: center;
}

header {
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    background-color: #FF9A4B;
    text-align: center;
}


.box1 {
  width: 300px;
  background-color: #EEEEEE;
  position: relative;
  padding: 10px;
}


h3 {
    margin: 15px 0 5px; 
}

   

.image1 {
  background-image: url(img/flow01.png);
  /* 指定方法（box2の周囲すべてに枠線を設定する場合） */
  background-position: center;
  background-repeat: no-repeat;
  height:  150px;
}

.image2 {
  background-image: url(img/flow02.png);
  /* 指定方法（box2の周囲すべてに枠線を設定する場合） */
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
}

.image3 {
  background-image: url(img/flow03.png);
  /* 指定方法（box2の周囲すべてに枠線を設定する場合） */
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
}



.box4 {
    width: 45px;
    height: 25px;
    color: white;
    background-color: #FF9A4B;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #AAAAAA;
    margin-top: 50px;
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
    
    .flex {
	    /*display: flex;*/
        gap: 20px;
        justify-content: center;
        /*flex-direction: column;*/
        
}

    header {
        width: 100%;
}


    .box1 {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
}

    .box2 {
        width: 100%;
        height: 140px;
}
    
    h3 {
        margin-top: 5px;
        margin-left: 10px;    
        margin-bottom: 5px;
}

    p {
        font-size: 15px;
        margin: 0 auto;
}
   

    .image1,.image2,.image3 {
        background-position: bottom;
        width: 90%;
        margin: 0 auto;
}

    footer {
        width: 100%;
}
}