* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.flex {
	display: flex; /* flexbox */
	gap: 0px 30px; /* 余白 */
	justify-content: center;
}

header {
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    background-color: #FF9A4B;
    text-align: center;
}


.box1 {
  width: 300px;
  height: 300px;
  background-color: #EEEEEE;
  position: relative;
}

.box2 {
    height: 150px;
    width: 300px;
    background-color: #EEEEEE;
    /* border: 5px solid #EEEEEE; */
    padding-top: 5px;
    font-size: 12px;
    position: relative;
    top: 150px;
    margin: -5px 0px 0px -10px;
    /* padding: 0px 0px 0px 0px; */
}
h3 {
    margin-top: 5px;
    margin-left: 10px;    
    margin-bottom: 5px;
}

p  {
     margin-top: 5px;
     margin-right: 10px;
     margin-left: 10px;
}
   

.image1 {

  background-image: url(img/flow01.png);
  /* 指定方法（box2の周囲すべてに枠線を設定する場合） */
  background-position: center;
  border: 10px solid #EEEEEE;
  background-size: 280px 150px;
  
}

.image2 {

  background-image: url(img/flow02.png);
  /* 指定方法（box2の周囲すべてに枠線を設定する場合） */
  background-position: center;
  border: 10px solid #EEEEEE;
  background-size: 280px 150px;
  
}

.image3 {

  background-image: url(img/flow03.png);
  /* 指定方法（box2の周囲すべてに枠線を設定する場合） */
  background-position: center;
  border: 10px solid #EEEEEE;
  background-size: 280px 150px;
  
}



.box4 {
    
    width: 45px;
    height: 25px;
    color: white;
    background-color: #FF9A4B;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #AAAAAA;
    margin-top: 50px;
}

